* {
	font-family: 'Jersey 15';
	font-size: 20px;
/*	#color:rgba(124, 8, 194,1);  from the old dragon*/
	color:#0f5fb5;
    padding-left: 2px;
}

/* For the dragon  theme */

window#waybar {
	background: rgba(0,0,0,0);
}
